doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Hidemaro.F
        link(rel="stylesheet", type="text/css" href="/css/main.css")
    body
        div.container
            h1 Hidemaro Fujinami
            ul.posts
                li
                    p
                        a(href="https://marogenerativeart.tumblr.com/") Generative Codings
                li
                    p
                        a(href=)
